{% extends "base.html" %}
{% block title %}Config{% endblock %}
{% block head %}
    <link href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="{{ url_for('static', filename='js/configuration_form_helpers.js') }}"></script>
    <script>
        function getRssResponse() {
            document.querySelector('#preview_button').disabled = true;
            document.querySelector('#preview_button').innerHTML = 'Loading...';
            var input_url = document.getElementById('input_url').value;
            var username = document.getElementById('username').value;
            var password = document.getElementById('password').value;
            var app_id = document.getElementById('app_id').value;
            var app_secret = document.getElementById('app_secret').value;
            var agency_name = document.getElementById('agency_name').value;

            rssResponse(input_url, username, password, app_id, app_secret, agency_name)
        }

        function getInputFields() {
            mapping_div = document.getElementById('mapping_form');
            mapping_div.style.display = 'block';
            var content_type_id = document.getElementById('content_type').value;
            var domain_id = document.getElementById('domain').value;
            var agency_name = document.getElementById('agency_name').value;
            getFieldDefinition(content_type_id, domain_id, agency_name, {{ agency_config|tojson }});
        }

          document.addEventListener('DOMContentLoaded', function () {

          {% if agency_config %}
               setFields({{ agency_config|tojson }});
            {% else %}
            if(document.querySelector('#domain').value) {
                setContentTypes('{{ token }}', '{{ management_api }}');
            }
            {% endif %}
            const checkValidations = () => {
                let formValidation = Array.from(document.querySelectorAll('[required]')).filter(x => x.value === "").length === 0;
                document.querySelector('.mapping-btn ').disabled = !formValidation;
            };

            const form = document.querySelector('#configuration_form');
            form.addEventListener("keypress", function (event) {
                checkValidations();
            }, true);


            checkValidations();
        });

    </script>
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}


{% block content %}

    <div class="row">
        <div class="col-md-6"><h1>Config</h1></div>
        <div class="col-md-6 text-right">
            <button type="submit" form="configuration_form" class="btn btn-default border"><span>Kaydet</span></button>
        </div>
    </div>
    <hr>
    <form name="configuration_form" id="configuration_form"
            {% if agency_config %}  action="{{ url_for('config_edit', config_id=agency_config['_id']) }}" {% else %}
          action="{{ url_for('configs_create') }}" {% endif %}
          method="POST">
        <div class="form-row">
            <div class="form-group col-md-12">
                <label for="input_url">Agency Status</label>
                <label class="switch switch-left-right">
                    <input name="agency_status" id="agency_status" class="switch-input"  type="checkbox">
                    <span class="switch-label" data-on="Active" data-off="Passive"></span>
                    <span class="switch-handle"></span>
                </label>
            </div>
            <div class="form-group col-md-6">
                <label for="domain">Agency</label>
                <select name="agency_name" id="agency_name" class="form-control" onchange="showAuthFields(this.value);">
                    <option value="">Choose...</option>
                    {% for agency in agencies %}
                        <option value="{{ agency['name'] }}">{{ agency['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="input_url">Agency Url</label>
                <input type="text" class="form-control" name="input_url" id="input_url" placeholder="http://..."
                       required>
            </div>
        </div>
        <div class="form-row d-none" id="aws-auth-fields">
            <div class="form-group col-md-6">
                <label for="app_id">App Id</label>
                <input type="text" class="form-control" name="app_id" id="app_id" placeholder="App Id" required>
            </div>
            <div class="form-group col-md-6">
                <label for="app_secret">App Secret</label>
                <input type="text" class="form-control" name="app_secret" id="app_secret" placeholder="App Secret">
            </div>
        </div>
        <div class="form-row show-all" id="auth_fields">
            <div class="form-group col-md-6">
                <label for="username">Username</label>
                <input type="text" class="form-control" name="username" id="username" placeholder="Username" required>
            </div>
            <div class="form-group col-md-6 auth-params">
                <label for="username_parameter">Username Parameter</label>
                <input type="text" class="form-control" name="username_parameter" id="username_parameter"
                       placeholder="Username Parameter">
            </div>
            <div class="form-group col-md-6">
                <label for="password">Password</label>
                <input type="password" class="form-control" name="password" id="password" placeholder="Password"
                       required>
            </div>
            <div class="form-group col-md-6 auth-params">
                <label for="password_parameter">Password Parameter</label>
                <input type="text" class="form-control" name="password_parameter" id="password_parameter"
                       placeholder="Password Parameter">
            </div>
        </div>
         <div class="form-row">
            <div class="form-group col-md-6">
                <label for="cms_username">CMS Username</label>
                <input type="text" class="form-control" name="cms_username" id="cms_username" placeholder="CMS Username" required>
            </div>
             <div class="form-group col-md-6">
                <label for="cms_password">CMS Password</label>
                <input type="password" class="form-control" name="cms_password" id="cms_password" placeholder="CMS Password" required>
            </div>
         </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="domain">Domain</label>
                <select name="domain" id="domain" class="form-control"
                        onchange="setContentTypes('{{ token }}', '{{ management_api }}')" required>
                    <option value="" selected>Choose...</option>
                    {% for domain in domains %}
                        <option value="{{ domain['_id'] }}">{{ domain['name'] }}</option>
                    {% endfor %}
                </select>
            </div>
            <div class="form-group col-md-6">
                <label for="content_type">Content Type</label>
                <select name="content_type"  onclick="setContentTypes('{{ token }}', '{{ management_api }}')" id="content_type" class="form-control" required>
                    <option value="" selected>Choose...</option>
                </select>
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-3">
                <label for="run_job_at">Run Job Interval <small class="ml-2">second</small></label>
                <input class="form-control" type="number" name="sync_at" id="sync_at" min="30" required>
            </div>
            <div class="form-group col-md-3">
                <label for="expire_time">Content Expire Time <small class="ml-2">minutes</small></label>
                <input class="form-control" type="number" name="expire_time" id="expire_time" min="30" required>
            </div>
            <div class="form-group col-md-6">
                <label for="path">CMS Path</label>
                <input class="form-control" type="text" name="path" id="path" required>
            </div>
        </div>

        <div class="form-row fields-card" id="mapping_form" style="display: none">

        </div>
    </form>

    <div class="row">
        <div class="col-md-12">
            <button class="btn btn-primary mapping-btn" onclick="getInputFields();" disabled>Mapping</button>

            <button class="ml-3 btn btn-primary d-none" data-loading-text="Loading..." id="preview_button"
                    onclick="getRssResponse();">Preview
            </button>
        </div>
    </div>
    <br>
    <div class="row fields-card d-none" id="preview_row">

    </div>

{% endblock %}
