{% extends "base.html" %}
{% block title %}Jobs{% endblock %}
{% block head %}
    <link href="{{ url_for('static', filename='styles/bootstrap.min.css') }}" rel="stylesheet">
{% endblock %}

{% block header %}
    {% include "header.html" %}
{% endblock %}

{% block content %}
    <div class="row">

        <div class="col-md-6"><h1>Job Executions</h1></div>
        <div class="col-md-6 text-right">
            <a href="/configs/create" role="button" class="btn btn-default border">
                <span>Oluştur</span>
            </a>
        </div>
    </div>
    <br>
    <table class="table">
        <thead>
        <tr>
            <th scope="col">Agency Name</th>
            <th scope="col">Job</th>
            <th scope="col">Domain</th>
            <th scope="col">Content Type</th>
            <th scope="col">Content Count</th>
            <th scope="col">Status</th>
            <th scope="col">Progress</th>

        </tr>
        </thead>
        <tbody>

        {% for item in items %}
            <tr>
                <td>{{ item['agency'] }}</td>
                <td>{{ item['type']|title }}</td>
                <td>{{ item['domain']['name']|title }}</td>
                <td>{{ item['content_type']['name'] }}</td>
                <td>{{ item['total_content_count'] }}</td>
                <td>{{ item['status']|title }}</td>
                <td>
                    <div class="progress">
                        {% if item['total_content_count'] %}
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="100"
                                 aria-valuemin="0" aria-valuemax="100"
                                 style="width:{{ (100 * item['successfully_completed_content'] / item['total_content_count'])|int }}%">
                                {{ ((100 * item['successfully_completed_content']) / item['total_content_count'])|int }} %
                            </div>
                        {% else %}
                            <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="0"
                                 aria-valuemin="0" aria-valuemax="100" style="width:100%">
                                100%
                            </div>
                        {% endif %}
                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-3 offset-9">
            <form action="/jobs">
                <ul class="pagination justify-content-end">
                    <li class="page-item">
                        <a class="page-link" href="/jobs?page={{ page - 1 }}"> Prev </a>
                    </li>
                    <li class="page-item">
                        <input class="form-control" name="page" id="custom_page_count" type="number"
                               style="width: 55px;"
                               value="{{ page }}">
                    </li>
                    <li class="page-item">
                        <a class="page-link" href="/jobs?page={{ page + 1 }}"> Next </a>
                    </li>
                </ul>
            </form>
        </div>
    </div>

{% endblock %}
