.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #141e3c;
    color: white;
    text-align: center;
}

.login-background {
    height: 100%;
    width: 100%;
    position: absolute;
    background: url(/static/images/login-background.png);
    background-clip: content-box;
    background-repeat: no-repeat;
    background-size: cover;
}

.fields-card {
    display: block;
    background: #f1f1f1;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 20px;
}

#auth_fields {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: -5px;
    margin-left: -5px;
}

#auth_fields > div {
    display: none;
}

#auth_fields .form-group {
    padding-right: 5px;
    padding-left: 5px;
}

#auth_fields.show-all > div {
    display: block;
}

#auth_fields.show-main > div {
    display: block;
}

#auth_fields.show-all .form-group {
    -webkit-box-flex: 0;
    -ms-flex: 0 0 25%;
    flex: 0 0 25%;
    max-width: 25%;
}

#auth_fields.show-main .auth-params {
    display: none;
}

.switch {
    position: relative;
    display: inline-block;
    vertical-align: top;
    width: 70px;
    height: 20px;
    padding: 3px;
    margin: 0 10px 10px 0;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF 25px);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF 25px);
    border-radius: 18px;
    box-shadow: inset 0 -1px white, inset 0 1px 1px rgba(0, 0, 0, 0.05);
    cursor: pointer;
    box-sizing: content-box;
}
label {
    font-weight: inherit;
}
input[type=checkbox], input[type=radio] {
    margin: 4px 0 0;

    line-height: normal;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0;
}

.switch-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label {
    background: inherit;
}
.switch-input:checked ~ .switch-label {
    background: #E1B42B;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.15), inset 0 0 3px rgba(0, 0, 0, 0.2);
}
.switch-left-right .switch-label {
    overflow: hidden;
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}
.switch-label {
    position: relative;
    display: block;
    height: inherit;
    font-size: 10px;
    text-transform: uppercase;
    background: #eceeef;
    border-radius: inherit;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.15);
    box-sizing: content-box;
}
.switch-left-right .switch-input:checked ~ .switch-label:before {
    opacity: 1;
    left: 50px;
}
.switch-input:checked ~ .switch-label:before {
    opacity: 0;
}
.switch-left-right .switch-label:before {
    background: #eceeef;
    text-align: left;
    padding-left: 50px!important;
}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -12px;
    border-radius: 10px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.switch-label:before {
    content: attr(data-off);
    right: 11px;
    color: #aaaaaa;
    text-shadow: 0 1px rgba(255, 255, 255, 0.5);
}

span.switch-label:after {
    content: attr(data-on);
    left: 11px;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.2);
    position: absolute;

}

.switch-label:before, .switch-label:after {
    position: absolute;
    top: 50%;
    margin-top: -5px;
    line-height: .1;
    -webkit-transition: inherit;
    -moz-transition: inherit;
    -o-transition: inherit;
    transition: inherit;
    box-sizing: content-box;
}

.switch-left-right .switch-input:checked ~ .switch-label:after {
    left: 0!important;
    opacity: 1;
    padding-left: 20px;
    text-indent: -12px;
}


.switch-input:checked ~ .switch-label:after {
    opacity: 1;
}


.switch-left-right .switch-label:after {
    text-align: left;
    text-indent: 9px;
    background: #65adfd!important;
    left: -100px!important;
    opacity: 1;
    width: 100%!important;

}
.switch-left-right .switch-label:before, .switch-left-right .switch-label:after {
    width: 20px;
    height: 20px;
    top: 4px;
    left: 0;
    right: 0;
    bottom: 0;
    padding: 11px 0 0 0;
    text-indent: -27px;
    border-radius: 10px;
    box-shadow: inset 0 1px 4px rgba(0, 0, 0, 0.2), inset 0 0 3px rgba(0, 0, 0, 0.1);
}
.switch-input:checked ~ .switch-handle {
    left: 53px;
    box-shadow: -1px 1px 5px rgba(0, 0, 0, 0.2);
}
.switch-label, .switch-handle {
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

.switch-handle {
    position: absolute;
    top: 3px;
    left: 3px;
    width: 20px;
    height: 20px;
    background: linear-gradient(to bottom, #FFFFFF 40%, #f0f0f0);
    background-image: -webkit-linear-gradient(top, #FFFFFF 40%, #f0f0f0);
    border-radius: 100%;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
}

.switch-handle:before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -6px 0 0 -6px;
    width: 12px;
    height: 12px;
    background: linear-gradient(to bottom, #eeeeee, #FFFFFF);
    background-image: -webkit-linear-gradient(top, #eeeeee, #FFFFFF);
    border-radius: 6px;
    box-shadow: inset 0 1px rgba(0, 0, 0, 0.02);
}
